.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  flex: auto;
  justify-content: flex-start;
  text-align: center;
  color: maroon;
}

.imageContainer {
  display: flex;
  flex: auto;
  /* background-color: aqua; */
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}
