.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  flex: auto;
  justify-content: flex-start;
  text-align: center;
  color: maroon;
}

.imageContainer {
  display: flex;
  flex: auto;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.item {
  flex-basis: 20%;
}

.description {
  font-size: 21px;
}
