.container {
  padding: 10% 0% 2% 0%;
}

.footerContentContainer {
  height: 300px;
  width: 100%;
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.getInTouch {
  display: flex;
  flex-direction: column;
  width: 26%;
  gap: 20px;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 34%;
}

.contactItem {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.getInTouchDescription {
  font-size: 14pt;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  font-size: 28pt;
}

.beyulLogoContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5% 0% 0% 0%;
}
