.container {
  padding: 4% 0% 2% 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footerContentContainer {
  width: 100%;
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.getInTouch {
  display: flex;
  flex-direction: column;
  width: 26%;
  gap: 1vw;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 34%;
}

.contactItem {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  font-size: 2vw;
}

.beyulLogoContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 80vw;
  height: 15vh;
  position: relative;
}

.beyulImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: relative !important;
}

@media (orientation: portrait) {
  .logo {
    font-size: 3vw;
  }
}
