@font-face {
  font-family: 'yatra';
  src: url('../public/assets/font/yatra/YatraOne-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: yatra, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('../public/assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  max-width: 100%;
  height: 50rem;
  font-size: 14pt;
}

h1 {
  font-size: 5vw;
  color: #871514;
}

h2 {
  font-size: 4vw;
  color: #871514;
}

h3 {
  font-size: 3vw;
  color: #871514;
}

h4 {
  font-size: 2vw;
  color: #871514;
}

p {
  color: #871514;
  font-size: 1.6vw;
}

span {
  color: #871514;
  font-size: 1.6vw;
}

li {
  color: #871514;
}

button {
  font-family: yatra;
  cursor: pointer;
}

input {
  font-family: 'yatra';
}

@media (max-width: 900px) {
  h1 {
    font-size: 8vw;
    color: #871514;
  }

  h2 {
    font-size: 6vw;
    color: #871514;
  }

  h3 {
    font-size: 5vw;
    color: #871514;
  }

  h4 {
    font-size: 4vw;
    color: #871514;
  }

  p {
    color: #871514;
    font-size: 4.5vw;
    text-align: center;
  }

  span {
    font-size: 4vw;
    color: #871514;
  }

  li {
    color: #871514;
    font-size: 1.4vw;
  }

  span {
    font-size: 4vw;
    color: #871514;
  }

}

/*
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */