.wrapper {
  overflow-y: hidden;
  overflow-x: hidden;
}

.imgContainer {
  position: relative;
}

.img {
  width: 100%;
  height: auto;
}

/* NORMAL VIEW JOURNEY */
.walk1 {
  position: absolute;
  bottom: 19%;
  left: 20%;
  width: 15%;
  height: 2%;
  rotate: -10deg;
  border-radius: 50px;
}

.walk2 {
  position: absolute;
  bottom: 25%;
  left: 33%;
  width: 11%;
  height: 2%;
  rotate: -29deg;
  border-radius: 50px;
}

.walk3 {
  position: absolute;
  bottom: 36.5%;
  left: 41.25%;
  width: 6%;
  height: 2%;
  rotate: 82deg;
  border-radius: 50px;
}

.walk1:hover,
.walk2:hover,
.walk3:hover {
  display: block;
  height: 200px;
  background-image: url('../public/assets/Journey/day1.png');
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.75);
  background-position: center;
  background-size: 18vh;
  border-radius: 10px;
  padding: 30px;
  rotate: unset;
  cursor: pointer;
}

.walk4 {
  position: absolute;
  bottom: 45%;
  left: 41.2%;
  width: 5%;
  height: 2%;
  rotate: 82deg;
  border-radius: 50px;
}

.walk5 {
  position: absolute;
  bottom: 49.5%;
  left: 36%;
  width: 8%;
  height: 2%;
  rotate: 16deg;
  border-radius: 50px;
}

.walk6 {
  position: absolute;
  bottom: 55.5%;
  left: 33.1%;
  width: 6%;
  height: 2%;
  rotate: 77deg;
  border-radius: 50px;
}

.walk7 {
  position: absolute;
  bottom: 67.8%;
  left: 35.2%;
  width: 4.2%;
  height: 2%;
  rotate: 121deg;
  border-radius: 50px;
}

.walk4:hover,
.walk5:hover,
.walk6:hover,
.walk7:hover {
  display: block;
  /* top: 20px; */
  height: 180px;
  width: 150px;
  background-image: url('../public/assets/Journey/day2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.75);
  background-size: 18vh;
  border-radius: 10px;
  padding: 30px;
  rotate: unset;
  cursor: pointer;
}

.walk8 {
  position: absolute;
  bottom: 74.8%;
  left: 37.2%;
  width: 12.2%;
  height: 2%;
  rotate: 154deg;
  border-radius: 50px;
}

.walk8:hover {
  display: block;
  top: 50px;
  height: 180px;
  width: 150px;
  background-image: url('../public/assets/Journey/day3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.75);
  background-size: 18vh;
  border-radius: 10px;
  padding: 30px;
  rotate: unset;
  cursor: pointer;
}

.walk9 {
  position: absolute;
  bottom: 78.8%;
  left: 54.1%;
  width: 3%;
  height: 2%;
  rotate: 32deg;
  border-radius: 50px;
}

.walk10 {
  position: absolute;
  bottom: 70.5%;
  left: 49.6%;
  width: 10%;
  height: 2%;
  rotate: 115deg;
  border-radius: 50px;
}

.walk9:hover,
.walk10:hover {
  display: block;
  top: 20px;
  height: 180px;
  width: 150px;
  background-image: url('../public/assets/Journey/day4.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.75);
  background-size: 18vh;
  border-radius: 10px;
  padding: 30px;
  rotate: unset;
  cursor: pointer;
}

.walk11 {
  position: absolute;
  bottom: 58.5%;
  left: 52%;
  width: 16.5%;
  height: 2%;
  rotate: 197deg;
  border-radius: 50px;
}

/* RESPONSIVE JOURNEY */

.responsiveWalk1 {
  position: absolute;
  bottom: 10.5%;
  left: 16%;
  width: 21%;
  height: 1%;
  rotate: -11deg;
}

.responsiveWalk2 {
  position: absolute;
  bottom: 16%;
  left: 31%;
  width: 18%;
  height: 1%;
  rotate: -61deg;

}

.responsiveWalk3 {
  position: absolute;
  bottom: 27%;
  left: 25%;
  width: 26%;
  height: 1%;
  rotate: -119deg;
}

.responsiveWalk4 {
  position: absolute;
  bottom: 41%;
  left: 27%;
  width: 19%;
  height: 1%;
  rotate: -59deg;
}

.responsiveWalk5 {
  position: absolute;
  bottom: 48.5%;
  left: 34.5%;
  width: 12%;
  height: 1%;
  rotate: -98deg;
}

.responsiveWalk6 {
  position: absolute;
  bottom: 53.5%;
  left: 21.5%;
  width: 18%;
  height: 1%;
  rotate: -162deg;
}

.responsiveWalk7 {
  position: absolute;
  bottom: 60.5%;
  left: 10%;
  width: 20%;
  height: 1%;
  rotate: -103deg;
}

.responsiveWalk8 {
  position: absolute;
  bottom: 75.5%;
  left: 13%;
  width: 19%;
  height: 1%;
  rotate: -60deg;
}

.responsiveWalk9 {
  position: absolute;
  bottom: 84.5%;
  left: 28%;
  width: 24%;
  height: 1%;
  rotate: -36deg;
}

.responsiveWalk10 {
  position: absolute;
  bottom: 85.5%;
  left: 51%;
  width: 18%;
  height: 1%;
  rotate: 32deg;
}

.responsiveWalk11 {
  position: absolute;
  bottom: 79%;
  left: 62%;
  width: 11%;
  height: 1%;
  rotate: 110deg;
}

.responsiveWalk12 {
  position: absolute;
  bottom: 72%;
  left: 63.5%;
  width: 18%;
  height: 1%;
  rotate: 49deg;
}

.responsiveWalk13 {
  position: absolute;
  bottom: 57%;
  left: 54.5%;
  width: 38%;
  height: 1%;
  rotate: 109deg;
}

/* MODAL */

.topModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.modalContainer {
  background: white;
  width: 60%;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  cursor: pointer;
  height: 4vh;
  width: 4vw;
}

@media (max-width: 900px) {

  .closeButton {
    cursor: pointer;
    height: 8vh;
    width: 8vw;
  }
}