.wrapper {
  /* height: 100vh; */
  overflow-y: hidden;
  overflow-x: hidden;
}

.village {
  margin-top: -15.6%;
}

.biguCloud {
  margin: -71.2% 0% 0% 0.2%;
  padding: 31%;
}

.yetiPost {
  padding: 61.5%;
  margin: -103.5% -61.8% 0% 0%;
}

.stepstones {
  margin-top: -79.8%;
}

.cloudContainer {
  height: 100vh;
}

.cloudTopLeft {
  position: absolute;
  top: -12%;
  left: -5%;
}

.cloudTopRight {
  position: absolute;
  top: -12%;
  right: -5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.cloudBottomLeft {
  position: absolute;
  bottom: -5%;
  left: -15%;
}

.cloudBottomRight {
  position: absolute;
  bottom: -5%;
  right: -8%;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (orientation: portrait) {
  .wrapper {
    background-image: url('../public/assets/banner-mobile.jpg');
    display: flex;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
