.wrapper {
  /* height: 100vh; */
  overflow-y: hidden;
  overflow-x: hidden;
}

/* NORMAL PARALLAX */

.village {
  margin-top: -15.6%;
}

.biguCloud {
  margin: -71.2% 0% 0% 0.2%;
  padding: 31%;
}

.yetiPost {
  padding: 61.5%;
  margin: -103.5% -61.8% 0% 0%;
}

.stepstones {
  margin-top: -79.8%;
}

/* CLOUDS */

.cloudContainer {
  height: 100vh;
}

.cloudTopLeft {
  position: absolute;
  top: -12%;
  left: -5%;
}

.cloudTopRight {
  position: absolute;
  top: -12%;
  right: -5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.cloudBottomLeft {
  position: absolute;
  bottom: -5%;
  left: -15%;
}

.cloudBottomRight {
  position: absolute;
  bottom: -5%;
  right: -8%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* MOBILE RESPONSIVE PARALLAX */

.mobileVillage {
  margin-top: -15.6%;
}

.mobileHills {}

.mobileBiguCloud {
  margin: -71.2% 0% 0% 0.2%;
  padding: 20%;
  z-index: 100;
}

.mobileBottomLeft {
  padding: 41.5%;
  margin: -70.5% 8% 0% -42%;
}

.mobileBottomRight {
  padding: 40%;
  margin: -143% -40% 0% -42%;
}