.container {
  background-image: url('../public/assets/Plan/burn-paper.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  height: 50rem;
  place-items: center;
}

.contentContainer {
  padding: 0% 5% 1% 5%;
  margin: 0% 3% 0% 3%;
}

.content {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  padding: 2.5%;
  text-align: center;
  font-size: 23pt;
}
