.container {
  /* background-image: url('../public/assets/Plan/burn-paper.png'); */
  background-image: url('../public/assets/Plan/scroll-burn.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  justify-content: center;
  align-items: center;
  margin: 0% 0% 5% 0%;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10% 20% 10% 20%;
  margin: 4% 0% 4% 0%;
  overflow: hidden;
}

.title {
  /* margin: 7% 7% 0% 7%; */
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  text-align: left;
}

@media (orientation: portrait) {

  .container {
    background-image: unset;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
    margin: unset;
    padding: unset;
  }

  .contentContainer {
    display: flex;
    flex-wrap: wrap;
    padding: unset;
    margin: unset;
    overflow: hidden;
    padding: 5%;
  }

}